<h1 class="header-fix">My Favorite Date and Time is:</h1>
<h2 class="header-fix"><%= @date %> at <%= @time %></h2>
<h3 class="header-fix">Here are some facts about that date:
<p class="text-fix body-text"><%= @facts %></p>
