<table class="table table-resize">
    <thead>
        <tr>
            <th>Favorite Date And Time:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="month-abbreviation", id="january"><a href="", class="month-abbreviation">Jan</a></td>
            <td class="month-abbreviation", id="february"><a href="", class="month-abbreviation">Feb</a></td>
            <td class="month-abbreviation", id="march"><a href="", class="month-abbreviation">Mar</a></td>
            <td class="month-abbreviation", id="april"><a href="", class="month-abbreviation">Apr</a></td>
            <td class="month-abbreviation", id="may"><a href="", class="month-abbreviation">May</a></td>
            <td class="month-abbreviation", id="june"><a href="", class="month-abbreviation">Jun</a></td>
        </tr>
        <tr>
            <td class="month-abbreviation", id="july"><a href="", class="month-abbreviation">Jul</a></td>
            <td class="month-abbreviation", id="august"><a href="", class="month-abbreviation">Aug</a></td>
            <td class="month-abbreviation", id="september"><a href="", class="month-abbreviation">Sep</a></td>
            <td class="month-abbreviation", id="october"><a href="", class="month-abbreviation">Oct</a></td>
            <td class="month-abbreviation", id="november"><a href="", class="month-abbreviation">Nov</a></td>
            <td class="month-abbreviation", id="december"><a href="", class="month-abbreviation">Dec</a></td>
        </tr>
    </tbody>
</table>
