<table class="table table-resize">
    <thead>
        <tr>
            <th>Favorite Date And Time:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="day-abbreviation", id="monday"><a href="", class="day-abbreviation">Mon</a></td>
            <td class="day-abbreviation", id="tuesday"><a href="", class="day-abbreviation">Tues</a></td>
            <td class="day-abbreviation", id="wednesday"><a href="", class="day-abbreviation">Wed</a></td>
            <td class="day-abbreviation", id="thursday"><a href="", class="day-abbreviation">Thur</a></td>
            <td class="day-abbreviation", id="friday"><a href="", class="day-abbreviation">Fri</a></td>
            <td class="day-abbreviation", id="saturday"><a href="", class="day-abbreviation">Sat</a></td>
            <td class="day-abbreviation", id="sunday"><a href="", class="day-abbreviation">Sun</a></td>
        </tr>
        <tr class="selected">
        </tr>
    </tbody>
</table>
