<div class="footer">
  <p class="footer-text">this is a <a href="https://noahberman.org", class="footer-link">noah berman</a> thing & data is from <a href="https://www.wikipedia.org", class="footer-link">wikipedia</a></p><br/>
  <br />
</div>
<div class="email-link">
  <p class="email-link">send me an <a href="mailto:noah@noahberman.org?subject=My%20favorite%20date%20is%20<%= @date %>%20but%20I'm%20sending%20this%20today%20at%20<%= @time %>", class="footer-link">email</a>!</p>
</div>
