<div class="footer">
  <p class="footer-text">this is a <a href="https://noahberman.org", class="footer-link">noah berman</a> thing... </p><br/>

  <p class="footer-text">data is from <a href="https://www.wikipedia.org", class="footer-link">wikipedia</a>.  send me an <a href="mailto:noah@noahberman.org?subject=My%20Favorite%20Date%20And%20Time%20is%20<%= @date %>", class="footer-link">email</a>!</p>
</div>
